* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Comfortaa", cursive;
}

html {
  scroll-padding-top: 4.5rem;
}

body {
  position: relative;
}

p {
  line-height: 1.75;
}

.page-section {
  padding: 6rem 0;
}

h1,
h2 {
  padding-left: 1rem;
  font-family: "Rochester", cursive;
  font-family: "Satisfy", cursive;
}

/* HEADER */
.div-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #333;
  color: white;
  padding: 0.3rem;
}

.ul-header {
  margin-right: 2rem;
}

ul li {
  display: inline-block;
  list-style: none;
}

.logo {
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
  overflow: hidden;
  margin-left: 6rem;
}

li a {
  display: block;
  text-decoration: none;
  text-transform: uppercase;
  margin: 0 5px;
  text-decoration: none;
  color: white;
}

ul li a:hover {
  color: yellow;
}

.logo-completo img {
  width: 100%;
  height: 100%;
}

/* BODY */
.div-container-house {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 3rem;
}

.img-casa {
  width: 100%;
  height: 49rem;
}

.section-nosindex {
  font-size: 40px;
  height: 4rem;
  text-align: center;
  align-content: center;
}

.div-container-textimg-index {
  display: flex;
  align-content: center;
  justify-content: center;
  text-align: left;
  width: 80%;
}

.div-container-nosindex {
  display: flex;
  align-content: center;
  justify-content: center;
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.div-container-text-index {
  width: 65%;
  padding-right: 3%;
}

.div-container-img-index {
  width: 35%;
}

.img-info {
  width: 100%;
  height: 100%;
  border-radius: 1%;
}

.div-buttons {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.boton-esquina {
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  margin-top: 2rem;
}

.btn-xl {
  padding: 1.25rem 2.5rem;
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 1.125rem;
  font-weight: 700;
}

.btn-social {
  height: 2.5rem;
  width: 2.5rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  border-radius: 100%;
}

#a-link-header {
  font-family: "Satisfy", cursive;
  color: rgb(0, 0, 0);
  font-size: 2.15rem;
  text-transform: uppercase;
}

#mainNav {
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: #ffffff;
}

#mainNav .navbar-toggler {
  padding: 0.75rem;
  font-size: 0.75rem;
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  text-transform: uppercase;
  font-weight: 700;
}

#mainNav .navbar-brand {
  color: #ffc800;
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-weight: 700;
  letter-spacing: 0.0625em;
  text-transform: uppercase;
}

#mainNav .navbar-brand img {
  height: 4rem;
  border-radius: 50%;
}

#mainNav .navbar-nav .nav-item .nav-link {
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 1.3rem;
  font-weight: 600;
  color: #000000;
  letter-spacing: 0.0625em;
}

#mainNav .navbar-nav .nav-item .nav-link.active,
#mainNav .navbar-nav .nav-item .nav-link:hover {
  color: #eea333;
}

@media (min-width: 992px) {
  #mainNav {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    border: none;
    background-color: rgb(252, 252, 252);
    transition: padding-top 0.3s ease-in-out, padding-bottom 0.3s ease-in-out;
  }
  #mainNav .navbar-brand {
    font-size: 1.5em;
    transition: font-size 0.3s ease-in-out;
  }
  #mainNav .navbar-brand img {
    height: 4rem;
    border-radius: 50%;
    transition: height 0.3s ease-in-out;
  }
  #mainNav.navbar-shrink {
    padding-top: 1rem;
    padding-bottom: 1rem;
    background-color: #212529;
  }
  #mainNav.navbar-shrink .navbar-brand {
    font-size: 1.25em;
  }
  #mainNav.navbar-shrink .navbar-brand svg,
  #mainNav.navbar-shrink .navbar-brand img {
    height: 1.5rem;
  }
  #mainNav .navbar-nav .nav-item {
    margin-right: 1rem;
  }
  #mainNav .navbar-nav .nav-item:last-child {
    margin-right: 0;
  }
}
/* FOOTER */
.contenido {
  padding: 20px;
}

.footer {
  background-color: #333;
  color: white;
  padding: 10px;
  display: flex;
  justify-content: space-between;
}

.footer h3 {
  font-size: 1.2rem;
}

.div-direction-container,
.div-url,
.div-social-media {
  flex: 1;
  padding: 0 20px;
}

.div-direction-container p {
  margin: 5px 0;
}

.div-url ul {
  list-style: none;
  padding: 0;
}

.div-url li {
  margin: 5px 0;
}

.div-url a {
  text-decoration: none;
  color: white;
}

.div-social-media a {
  display: inline-block;
  margin-right: 10px;
}

.div-social-media img {
  width: 20px;
  height: 20px;
}

/* NOSOTROS */
.div-nosotros-container {
  display: flex;
  border: solid 2px;
  flex-direction: column;
  padding: 1rem;
}

.div-nosotros-container section {
  margin-top: 2rem;
}

.div-info-extra-container {
  display: flex;
  align-content: center;
  justify-content: space-between;
  text-align: left;
  width: 90%;
}

.div-info-extra-container-map {
  display: flex;
  align-content: center;
  text-align: left;
  width: 90%;
}

.div-mini-container {
  width: 46%;
  display: flex;
}

.div-info-extra-container-map section {
  padding: 20px;
}

.div-info-extra-container-map section h3 {
  margin-bottom: 1rem;
}

/* -------- Vista Proyecto ----------*/
.div-container-proyecto {
  display: flex;
  align-content: center;
  justify-content: center;
  margin-top: 3rem;
}

.div-container-proyecto-sub {
  display: flex;
  align-content: center;
  justify-content: center;
  text-align: left;
  width: 80%;
}

.div-container-img-proyecto {
  width: 55%;
  height: 95%;
}

.div-container-text-proyecto {
  width: 65%;
}

.section-text-proyecto {
  padding: 3%;
}

.div-container-proyecto-map {
  display: flex;
  justify-content: center;
}

.section-title-proyecto {
  font-size: 40px;
  text-align: center;
}

.div-container-iframe-map {
  width: 90%;
  padding: 2rem;
  margin-left: 3rem;
}

/* --- lista proyectos ----*/
.div-container-table-listaproyecto {
  margin-top: 1rem;
  margin-bottom: 1rem;
  display: flex;
  align-content: center;
  justify-content: center;
}

.div-container-filter-select {
  width: 85%;
}

.section-filter-main {
  text-align: center;
  height: 2rem;
  display: inline-flex;
  margin: 1rem;
}

.select-filter1 {
  margin-left: 5rem;
  width: 15rem;
}

.select-filter2 {
  margin-left: 5rem;
  width: 15rem;
}

.search-filter {
  margin-left: 5rem;
  width: 15rem;
}

.fa-search {
  width: 3rem;
}

.boton-filtrar-listaproyecto {
  width: 8rem;
  height: 2rem;
}

.div-boton-filtrar-listaproyecto {
  margin-left: 5rem;
}

/* CONTACTO */
.div-form {
  margin-top: 3rem;
  border: solid 1px;
  padding: 1rem;
}

.div-form textarea {
  resize: none;
}

.div-form-container {
  width: 50%;
}

.div-boton-filtrar-listaproyecto-contact {
  padding-left: 80%;
}

/* Circle imagen */
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(180deg);
  }
}
.circle-img img {
  transition: transform 0.3s;
}

.circle-img:hover img {
  transform: scale(1.2);
}

.card-project {
  transition: transform 0.3s;
}

.card-project:hover {
  transform: scale(1.1);
}

.btn {
  transition: transform 0.3s;
}

.btn:hover {
  transform: scale(1.2);
}

.img-brand {
  height: 2.75rem;
}

/* about index */
.page-section {
  padding: 8rem 0;
}

#about {
  --bs-bg-opacity: 1;
  background-image: url("/imagenes/img-casa-index-2.jpg");
}

/*# sourceMappingURL=estilo-final.css.map */
